ion-item,ion-content{
    // --background: #fff url('https://png.pngtree.com/element_origin_min_pic/16/08/19/1657b6c9722c4a4.jpg') no-repeat center center / cover;
    // background: rgb(80, 118, 177);
    // background-image: url('../../img/inner_bg.png');
    --ion-background-color:#9CA3DB;
    // margin-top: 5%;
    // margin-top:5%;
  }
  
  
  
  .io{
  
    width: 43px;
    height:40px; 
    border-radius: 50%;
  }
  
  
  
  
  
  // background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTM0A1t6AAABhUlEQVQ4T2Ows82PjGixsc4LD2tysC/09Kjw8622tyuICG8u0w/cpGSCBzF4e1VmZkzw9anOzOj38a4KCW4IC22ECHYk1l9tn4gHMeTlTnZxLikvm+XiUpKW2hvgX+vnV5OVOQEoOGfOtv94AYOzU3Fd7XxHh6Lq6rlurqUx0W0J8Z1AnbW18yotonaYuOJBDBXls4A+bGpaBCTz86YEBtQCvVBSPAPIbY0oP1/aiAcxABU1Ny+2tclvbFjo5FgUF9uenNwNDLnmpkWEnV1TPRcY1O1tS4H6i4umA/0MDK2K8tlAwRqHpP1uoXgQKKraWpcClTY3LQZaCLQ5NaUX5OaWJY3++SeTC/AgBmA4AXUClUJs9ver8fKsAAYEUJCws4G21dXNB1oFdD/Qz8DQTk4C+bm2dn6DZ9bRiDQ8iAEYt8CoBpK5YBIYw0AEEZwSXX4oMB4PYoC6gCzAcDqrjGzEsMfen2xEmbMv1rSTjRi26dqRjShz9o2+6WQjBrSShQSkZAIADvW/HLrLY6cAAAAASUVORK5CYII=');
  
  
  // ion-grid {
  //   height: 100%;
  //   // width: 100%;
  //   // margin-left: 7px;  
  //   background-color: rgb(80, 118, 177);
  
   
  
   
  // }
  
  // ion-row, ion-col{
  //   height: 69%;
  //   width: 93%;
  // }
  
  ion-button{
    height: 95%;
    width: 100%;
    
    
  
  }
  
  h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 42px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
    margin-top: 300%;
  
  
  }
  
  // ion-content{
  //   background-color: #9CA3DB;
   
  
  
  // }
  
  
  
  #imgicon{
    width : 100px;
    height : 80px ;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }
  #imgapp{
    
    width: 41%;
    height: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
        
  }
  
  #bird{
    width: 34%;
    height: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  #monkey{
    width: 31%;
    height: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  