<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Relevamiento Visual</ion-title>
  </ion-toolbar>
</ion-header> -->



<ion-content>
  




    <!-- <ion-list > -->
        <!-- <ion-item> -->
          <!-- <ion-label fixed>{{ 'EMAIL' | translate }}</ion-label> -->
          <!-- <ion-input type="email" [(ngModel)]="account.email" name="email"></ion-input> -->
          <!-- <ion-input type="email" [(ngModel)]="account.email" placeholder="email" name="email"></ion-input> -->
  
        <!-- </ion-item> -->
  
        <!-- <ion-item padding style="background-color: rgba(255,255,255,0.1) !important; color: black; border-radius: 10px;"> -->
          <!-- <ion-label class="titulo" style="color: black;" fixed>Correo</ion-label> -->
         
        
            <!-- 

        
        <ion-item id="item" padding>
         
        <ion-input  type="email" style="color: black" placeholder="email" name="email" ></ion-input>
        </ion-item>
        <ion-item id="item2" padding>
        <ion-input   style="color: black;" type="password" placeholder="contraseña" name="clave" ></ion-input>
        </ion-item> -->
  
      
        <!--
        Want to use a Username instead of an Email? Here you go:
  
        <ion-item>
          <ion-label floating>{{ 'USERNAME' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="account.username" name="username"></ion-input>
        </ion-item>
        -->
  
        <!-- <ion-item> -->
          <!-- <ion-label fixed>{{ 'PASSWORD' | translate }}</ion-label> -->
          <!-- <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
        </ion-item> -->
        


        <ion-grid>
          <ion-row justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div text-center>
                <br><br>
                  <img src="https://myslu.slu.edu/res/images/cas-padlock-icon.png"  width="200px" height="200px">
                <h4>Bienvenido!</h4>
              </div>
              <div padding>
                <ion-item>
                  <ion-input type="email" [(ngModel)]="username" placeholder="email@email.com"></ion-input>
                </ion-item>
        
                <ion-item>
                  <ion-input type="password" [(ngModel)]="password" placeholder="Password"></ion-input>
                </ion-item>
              </div>
        
              <div padding>
                <!-- <ion-button size="large" href="/touchid" expand="block">LOGIN</ion-button> -->
                <!-- <ion-button size="large"  routerLink="/tabs" routerDirection="root"  expand="block">LOGIN</ion-button> -->
                <ion-button size="large"  (click)="login()" routerDirection="root"  expand="block">LOGIN</ion-button>

               

                <!-- <ion-button (click)="login()">
                  <ion-icon slot="icon-only" name="add"></ion-icon>
                </ion-button> -->

                <!-- Otra forma: -->
                <!-- <ion-button size="large"  [href]="'tabs'" routerDirection="root"  expand="block">LOGIN</ion-button> -->

               
                <!-- (click)='onClickLogin($event)' -->

              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

  
      <!-- </ion-list> -->






</ion-content>
