<ion-header>
    <!-- <ion-navbar> -->
      <!-- <ion-title>
        Chat Room
      </ion-title> -->
    <!-- </ion-navbar> -->
  </ion-header>
  <ion-content padding>
    <!-- <div *ngFor="let message of chats">     -->
        <div> 

        <div class="chat-message right">      
          <div class="message-detail">
            <!-- {{message.msgStr}} -->
            Detalle del primer mensaje
          </div>
        </div>

        <div class="chat-message left">      
            <div class="message-detail">
              <!-- {{message.msgStr}} -->
              Detalle del segundo mensaje
            </div>
          </div>


    </div>
  </ion-content>
  <ion-footer>
    <ion-item>
      <ion-input type="text" placeholder="Ingrese menesaje"></ion-input>
      <ion-icon name="md-send" item-right></ion-icon>
    </ion-item>
  </ion-footer>

