<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card> 
    <ion-card-header>
      <ion-card-title>QRecarga $$$</ion-card-title>
    </ion-card-header>

    <form [formGroup]="formGroup">
      <ion-item>
        <ion-input
          class="label"      
          formControlName="email"
          type="email" 
          placeholder="Ingrese su correo electronico...." 
          autofocus="true"       
        ></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-input 
          class="label"
          formControlName="clave"
          type="password" 
          placeholder="Ingrese su contraseña"        
        ></ion-input>
      </ion-item>

      <ion-button 
        expand="full" 
        color="success"
        (click)="enviar()"
        [disabled]="formGroup.invalid"
        >Conectarse
      </ion-button>
    </form>    
  </ion-card>
  
  <ion-card>   
        <ion-button expand="full" (click)="mostrarUsuarios()"  >Usuarios Test</ion-button>   
  </ion-card>  
</ion-content>
