<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Relevamiento Visual</ion-title>
  </ion-toolbar>
</ion-header> -->



<ion-content>


        <ion-grid>
          <ion-row justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div text-center>

                   <!-- <img id="imgapp" src="https://image.freepik.com/vector-gratis/dibujos-animados-edificio-estado-real_24640-38977.jpg"   alt="" srcset=""> -->

                <ion-card>
                  <ion-card-header>
                    <ion-card-subtitle>Relevamiento Visual</ion-card-subtitle>
                    <ion-card-title>Bienvenido</ion-card-title>
                  </ion-card-header>

                  <ion-card-content>

                      <!-- <img id="imgicon" src="../../assets/icon/icon.png"> -->
                      <img id="imgapp" src="../../assets/icon/edificio.png"   alt="" srcset="">

                      <ion-button expand="full" color="dark" (click)="creoSheet()">
                      Acceder como...
                      </ion-button>

                  </ion-card-content>
                </ion-card>


                <div class="inputs">
                  <ion-item >
                      <ion-label position="fixed">Usuario:</ion-label>
                    <ion-input id="user" class="fonte" type="email" [(ngModel)]="username" placeholder="email"></ion-input>
                  </ion-item>
    
                  <ion-item >
                      <ion-label position="fixed">Contraseña:</ion-label>
                    <ion-input id="pass" class="fonte" type="password" [(ngModel)]="password" placeholder="*****"></ion-input>
                  </ion-item>

                  </div>
                  <ion-button size="large" class="fonte" color="dark" (click)="login()" routerDirection="root"  expand="block">INGRESAR</ion-button>
    
              </div>


              
            </ion-col>
          </ion-row>
        </ion-grid>


      <!-- </ion-list> -->






</ion-content>
