<ion-header>
  <ion-toolbar>
    <!-- <ion-title style=" text-align: center"> -->
    <ion-title slot="start">
   Conversando en el aula    
    </ion-title>
    <ion-button class="io" color="danger" class="io" slot="end" (click)="logoff()" routerDirection="root">
        <!-- style="width: 43px;height:40px; border-radius: 60%" -->
      <ion-icon name="power"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    


    <ion-card id="tab1card">
        <ion-card-header>
          <ion-card-subtitle>Conversando en el aula</ion-card-subtitle>
          <ion-card-title>Bienvenido</ion-card-title>
        </ion-card-header>
        Sistema de charlas.
        <ion-card-content>
        </ion-card-content>
      </ion-card>





</ion-content>
