<ion-header>
  <ion-toolbar>
    <ion-title>
      Conversaciones
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div padding > 
  Recientes
  </div>

  <ion-list id="section-notices">
     
            <ion-item>
                <ion-thumbnail slot="start">
                    <img src="../../assets/imgs/user1.png">
                </ion-thumbnail>
                <ion-label text-wrap>
                  <h3>Marta</h3>
                  <p>Hola, ¿como andas?</p>
                </ion-label>
                <ion-button fill="outline" slot="end">Ver</ion-button>
              </ion-item>
              
              <ion-item>
                  <ion-thumbnail slot="start">
                      <img src="../../assets/imgs/user2.png">
                  </ion-thumbnail>
                  <ion-label text-wrap>
                    <h3>Josefina</h3>
                    <p>¿Como estas?</p>
                  </ion-label>
                  <ion-button fill="outline" slot="end">Ver</ion-button>
                </ion-item>
                
                <ion-item>
                    <ion-thumbnail slot="start">
                        <img src="../../assets/imgs/user3.png">
                    </ion-thumbnail>
                    <ion-label text-wrap>
                      <h3>Pedro</h3>
                      <p>Dale, ahora salgo.</p>
                    </ion-label>
                    <ion-button fill="outline" slot="end">Ver</ion-button>
                  </ion-item>
                  
                  <ion-item>
                      <ion-thumbnail slot="start">
                          <img src="../../assets/imgs/user4.png">
                      </ion-thumbnail>
                      <ion-label text-wrap>
                        <h3>Pablo</h3>
                        <p>Es un 10 seguro</p>
                      </ion-label>
                      <ion-button fill="outline" slot="end">Ver</ion-button>
                    </ion-item>

                    <ion-item>
                        <ion-thumbnail slot="start">
                            <img src="../../assets/imgs/user5.png">
                        </ion-thumbnail>
                        <ion-label text-wrap>
                          <h3>Gerardo</h3>
                          <p>Mañana 9 AM</p>
                        </ion-label>
                        <ion-button fill="outline" slot="end">Ver</ion-button>
                      </ion-item>
                      
                      <ion-item>
                          <ion-thumbnail slot="start">
                              <img src="../../assets/imgs/user6.png">
                          </ion-thumbnail>
                          <ion-label text-wrap>
                            <h3>Nicolás</h3>
                            <p>Yendo</p>
                          </ion-label>
                          <ion-button fill="outline" slot="end">Ver</ion-button>
                        </ion-item>
            
                        <ion-item>
                            <ion-thumbnail slot="start">
                                <img src="../../assets/imgs/user7.png">
                            </ion-thumbnail>
                            <ion-label text-wrap>
                              <h3>Tin</h3>
                              <p>OK</p>
                            </ion-label>
                            <ion-button fill="outline" slot="end">Ver</ion-button>
                          </ion-item>
              


  </ion-list>
</ion-content>
