<ion-content class="margintop">

  <ion-item>
   
      <ion-button size="large" color="danger" expand="full" >
          <img class="imgapp" src="../../assets/icon/uno.png">
          <ion-text>
              <h1>UNO</h1>
            </ion-text>
      </ion-button>
    
  </ion-item>

  <ion-item>
   
      <ion-button size="large" color="transparent" expand="full">
          <img class="imgapp" src="../../assets/icon/dos.png"  >
          <ion-text>
              <h1>DOS</h1>
            </ion-text>
         
        </ion-button>
  </ion-item>

  <ion-item >
   
       <ion-button size="large" color="secondary"  expand="full">
          <img class="imgapp" src="../../assets/icon/tres.png">
          <ion-text>
              <h1>TRES</h1>
            </ion-text>
         
        </ion-button>
  </ion-item>

  <ion-item >
    
      <ion-button size="large" color="medium" expand="full">
          <img class="imgapp" src="../../assets/icon/cuatro.png"  >
          <ion-text>
              <h1>CUATRO</h1>
            </ion-text>
         
        </ion-button>
  </ion-item>

  <ion-item >
    
      <ion-button size="large" color="dark" expand="full">
          <img class="imgapp" src="../../assets/icon/cinco.png"  >
          <ion-text>
              <h1>CINCO</h1>
            </ion-text>
         
        </ion-button>
  </ion-item>
</ion-content>
