<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
        <ion-thumbnail slot="start">
          <img *ngIf="idiomaSeleccionado == 'ES'" src="../../assets/icon/es.svg">
          <img *ngIf="idiomaSeleccionado == 'US'" src="../../assets/icon/gb.svg">
        </ion-thumbnail>
    </ion-buttons>

        <ion-select multiple="false" [(ngModel)]="idiomaSeleccionado" slot="start" cancelText="Cancelar" okText="Ok">
            <ion-select-option  value="ES" selected>ESPAÑOL</ion-select-option>
            <ion-select-option  value="US" >INGLES</ion-select-option>
        </ion-select>
  </ion-toolbar>
</ion-header>



<ion-content no-padding no-margin>
  <ion-grid no-padding no-margin>
  

    <ion-row no-padding no-margin >
      <ion-col no-padding no-margin>
        <ion-button size="large" (click)="playUno()" color="danger" expand="full"  no-margin responsive-lg >
          <!-- <img class="imgapp" src="../../assets/icon/cow.png"> -->
          <img class="listaAnimales"  no-margin no-padding src="../../assets/icon/uno.png">
          <ion-text>
              <h1>UNO</h1>
            </ion-text>
      </ion-button>
      </ion-col>
    </ion-row>




    <ion-row no-padding no-margin >
      <ion-col no-padding no-margin>
    <ion-button size="large" (click)="playDos()" color="transparent" expand="full"  no-margin responsive-lg>
      <!-- <img class="imgapp" src="../../assets/icon/donkey.png"  > -->
      <img class="listaAnimales"  no-margin no-padding src="../../assets/icon/dos.png">
      <ion-text>
          <h1>DOS</h1>
        </ion-text>
    </ion-button>
  </ion-col>
</ion-row>



    <ion-row no-padding no-margin >
      <ion-col no-padding no-margin>
        <ion-button size="large" (click)="playTres()" color="warning"  expand="full"  no-margin responsive-lg>
          <!-- <img class="imgapp" src="../../assets/icon/duck.png"> -->
      <img class="listaAnimales" no-margin no-padding src="../../assets/icon/tres.png">
          <ion-text>
            <h1>TRES</h1>
          </ion-text>
        </ion-button>
      </ion-col>
    </ion-row>


    <ion-row no-padding no-margin >
      <ion-col no-padding no-margin>
  <ion-button size="large" (click)="playCuatro()" color="medium" expand="full"  no-margin responsive-lg>
      <!-- <img class="imgapp" src="../../assets/icon/elephant.png"  > -->
      <img class="listaAnimales"  no-margin no-padding src="../../assets/icon/cuatro.png">
      <ion-text>
          <h1>CUATRO</h1>
        </ion-text>
    </ion-button>
  </ion-col>
</ion-row>



    <ion-row no-padding no-margin >
      <ion-col no-padding no-margin>
  <ion-button size="large" (click)="playCinco()" color="dark" expand="full"  no-margin responsive-lg>
      <!-- <img class="imgapp" src="../../assets/icon/lion.png"  > -->
      <img class="listaAnimales"  no-margin no-padding src="../../assets/icon/cinco.png">
      <ion-text>
          <h1>CINCO</h1>
        </ion-text>
    </ion-button>
  </ion-col>
</ion-row>



  </ion-grid>
</ion-content>
