
  <ion-header>

  

    <ion-toolbar>
     
      <ion-select multiple="false" [(ngModel)]="idiomaSeleccionado" slot="start" cancelText="Cancelar" okText="Ok">
        <ion-select-option  value="ES" selected>ES</ion-select-option>
        <ion-select-option  value="US" >US</ion-select-option>
    </ion-select>


    </ion-toolbar>
  </ion-header>

<ion-content class="margintop">

  <ion-item>
   
      <ion-button (click)="playUno()" size="large" color="danger" expand="full" >
          <img class="imgapp" src="../../assets/icon/uno.png">
          <ion-text>
              <h1>UNO</h1>
            </ion-text>
      </ion-button>
    
  </ion-item>

  <ion-item>
   
      <ion-button (click)="playDos()"  size="large" color="transparent" expand="full">
          <img class="imgapp" src="../../assets/icon/dos.png"  >
          <ion-text>
              <h1>DOS</h1>
            </ion-text>
         
        </ion-button>
  </ion-item>

  <ion-item >
   
       <ion-button (click)="playTres()" size="large" color="secondary"  expand="full">
          <img class="imgapp" src="../../assets/icon/tres.png">
          <ion-text>
              <h1>TRES</h1>
            </ion-text>
         
        </ion-button>
  </ion-item>

  <ion-item >
    
      <ion-button (click)="playCuatro()"  size="large" color="medium" expand="full">
          <img class="imgapp" src="../../assets/icon/cuatro.png"  >
          <ion-text>
              <h1>CUATRO</h1>
            </ion-text>
         
        </ion-button>
  </ion-item>

  <ion-item >
    
      <ion-button (click)="playCinco()"  size="large" color="dark" expand="full">
          <img class="imgapp" src="../../assets/icon/cinco.png"  >
          <ion-text>
              <h1>CINCO</h1>
            </ion-text>
         
        </ion-button>
  </ion-item>
</ion-content>
