@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');

page-home {
    .image-container {
        min-height: 200px;
        background-size: cover;
    }
}

.fuenteNew
{
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bolder; 
}

img
{
    max-height: 50%;
    max-width: 50%;
    padding: inherit;
    margin-left: 20%;
    border-radius: 15px 50px 30px;
}