@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');

page-home {
    .image-container {
        min-height: 200px;
        background-size: cover;
    }
}

.fuenteNew
{
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bolder; 
}