<div class="login-card">
	<div class="login-card-content">
	  <div class="header">
		<div class="logo">
		  <div>company logo</div>
		</div>
		<h2>Carga<span class="highlight">Crédito</span></h2>
	
	  </div>
	  <div class="form">
		<div class="form-field username">
		  <div class="icon">
			<ion-icon name="person"></ion-icon>
		  </div>
		  <input type="text" placeholder="Usuario">
		</div>
		<div class="form-field password">
		  <div class="icon">
			<ion-icon name="lock"></ion-icon>	
		  </div>
		  <input type="password" placeholder="Contraseña">
		</div>
  
		<button type="submit">
		  Ingresar
		</button>
		<div>
		  Carga <a href="">de Crédito</a>
		</div>
	  </div>
	</div>
  </div>