<div id="custom-overlay" [style.display]=" splash ? 'block' : 'none' ">
	<div class="logoPresentacion">
		<img  src="../../assets/icon/favicon2.png">	
	</div>
		<div class="contenedorPresentacion">
		<div> LEANDRO POLLOLA </div><br>
		<div> PRACTICA PROFESIONAL</div>
		<div> SUPERVISADA 4A</div>
	</div>
</div>

<div [style.display]=" splash ? 'none' : 'contents' ">

<div class="login-card">
	<div class="login-card-content">
	  <div class="header">
		<div class="logo">
		  <!-- <div>company logo</div> -->
		  <img class="logo-img" src="https://image.flaticon.com/icons/svg/1131/1131561.svg">
   
		</div>
		<h2>Carga<span class="highlight">Crédito</span></h2>
	
	  </div>
	  <div class="form">
		<div class="form-field username">
		  <div class="icon">
			<ion-icon name="person"></ion-icon>
		  </div>
		  <input type="text" [(ngModel)]="cuenta.usuario" placeholder="Usuario">
		</div>
		<div class="form-field password">
		  <div class="icon">
			<ion-icon name="lock"></ion-icon>	
		  </div>
		  <input type="password" [(ngModel)]="cuenta.password" placeholder="Contraseña">
		</div>
  
		<button (click)="login()" type="submit">
		  Ingresar
		</button>
		<button (click)="creoSheet()" type="submit">
		  Acc.Rápido
		</button>
		<div>
		  Carga <a href="">de Crédito</a>
		</div>
	  </div>
	</div>
	</div>
</div>