<ion-content>

  <a (click)="activoAcelerometro()" *ngIf="activar" class="btn">ACTIVAR</a>
  <a (click)="desactivoAcelerometro()" *ngIf="!activar" class="btnRed">DESACTIVAR</a>
  <ion-text>Estado: {{estado}}</ion-text> 
      <!-- <ion-item> 
          <ion-label>Acceleration X</ion-label>
          <ion-input type="text" [(ngModel)]="accX"></ion-input>
        </ion-item>
        <ion-item> 
            <ion-label>Acceleration Y</ion-label>
            <ion-input type="text" [(ngModel)]="accY"></ion-input>
          </ion-item>
          <ion-item> 
              <ion-label>Acceleration Z</ion-label>
              <ion-input type="text" [(ngModel)]="accZ"></ion-input>
            </ion-item> -->
</ion-content>
