<ion-header>
  <ion-toolbar>
    <!-- <ion-title style=" text-align: center"> -->
    <!-- <ion-title slot="start">
    Carga Credito    
    </ion-title> -->
    <ion-button class="io" color="danger" slot="end" (click)="logoff()" routerDirection="root">
        <!-- style="width: 43px;height:40px; border-radius: 60%" -->
      <ion-icon name="power"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  


    <!-- <ion-card id="tab1card">
        <ion-card-header>
          <ion-card-subtitle>Carga Credito</ion-card-subtitle>
          <ion-card-title>Bienvenido</ion-card-title>
        </ion-card-header>
        Sistema de carga de credito mediante QR.
        <ion-card-content>
        </ion-card-content>
      </ion-card> -->
      <ion-chip>
        <div id="tablero">
        <ion-label> Su saldo: </ion-label><br>
        <ion-label class="saldoPantalla"  name="saldoPantalla">$ 0.00</ion-label>
        <!-- [(ngModel)]="saldoPantalla" -->
      </div>
      </ion-chip>
      <br><br><br><br>
    
      
         <!-- <div id="botones"> -->
          
          <ion-toolbar>
          <!-- <ion-button slot="start" shape="round" (click)="onClick()" > -->
              <ion-fab-button color="primary">
              <!-- Escanear codigo QR -->
            <ion-icon name="add-circle"></ion-icon>
          </ion-fab-button>
             <!-- </ion-button> -->
             <ion-fab-button color="warning" slot="end"(click)="onClick()" >
                <!-- Limpiar creditos -->
             <ion-icon name="trash"></ion-icon>

            </ion-fab-button>
          </ion-toolbar>
            <!-- </div> -->




</ion-content>
