<ion-header>

    <!-- <ion-item>
        <ion-label>Pets</ion-label>
       
      </ion-item> -->

  <ion-toolbar>
    <!-- <ion-title style=" text-align: center"> -->
    <!-- <ion-title slot="start">
    Tabla didáctica   
    </ion-title> -->


    <!-- <span class="flag-icon flag-icon-gr"></span> -->
   

   
    

    
       
    <!-- <ion-select multiple="true" cancelText="Nah" okText="Okay!"> -->
        <!-- <ion-select-option value="US" selected> <span class="flag-icon-us"></span></ion-select-option> -->
        <!-- <img src="../../assets/flags/4x3/us.svg"   alt="" srcset=""> -->
       
        <!-- <ion-select-option value="US" selected><ul class="languagepicker"> <a href="#nl"><li><img src="http://i65.tinypic.com/fd60km.png"/>US</li></a></ul> </ion-select-option> -->

      
      <!-- </ion-select> -->

<!--      
      <ion-select>
          <ion-option *ngFor="let cc of currencyList" value="{{ cc }}">
            <span class='flag-icon flag-icon-{{ cc.slice(0, -1) }}'></span>
            {{ cc }}
          </ion-option>
        </ion-select> -->
        <ion-select multiple="true" cancelText="Nah" okText="Okay!">
            <ion-select-option value="US" selected>US</ion-select-option>
          	<ion-select-option value="ES" >ES</ion-select-option>
            
        </ion-select>
      


    
    <ion-button class="io" color="danger"  slot="end" (click)="logoff()" routerDirection="root">
        <!-- style="width: 43px;height:40px; border-radius: 60%" -->
      <ion-icon name="power"></ion-icon>
    </ion-button>
  
  </ion-toolbar>
</ion-header>

<!-- <div class="fondo"> -->
    

<!-- 
    <ion-card id="tab1card">
        <ion-card-header>
          <ion-card-subtitle>Tabla didáctica de idiomas para niños</ion-card-subtitle>
          <ion-card-title>Bienvenido</ion-card-title>
        </ion-card-header>
        Sistema de idiomas para niños.
        <ion-card-content>
        </ion-card-content>
      </ion-card> -->

      <!-- <ion-grid >
          <ion-row>
            <ion-col size="auto">
              <ion-button class="light" (click)="onClick()" expand="full" >
                  <img id="imgapp" src="../../assets/icon/dog.png"   alt="" srcset="">
                  
              </ion-button>
            </ion-col>

        
                <ion-col size="auto">
            <ion-button color="light" (click)="onClick()" expand="full">
              GATO
            </ion-button>
            </ion-col>
           
            <ion-col size="auto"> 
              <ion-button color="light" (click)="onClick()" expand="full">
                  PAJARO
              </ion-button>
            </ion-col>

           
                <ion-col size="8">
              <ion-button color="light" (click)="onClick()" expand="full">
                  CONEJO
              </ion-button>
            </ion-col>

          
                <ion-col size="8"> 
              <ion-button color="light" (click)="onClick()" expand="full">
                MONO
              </ion-button>
            </ion-col>
  </ion-row>
</ion-grid> -->
<!-- <ion-card> -->
  <ion-content>

   <br>
    <ion-item>
     
        <ion-button color="danger" (click)="onClick()" expand="full" >
            <img id="imgapp" src="../../assets/icon/dog.png"   alt="" srcset="">
            <ion-text class="fuente" color="light">
                <h1>D</h1>
              </ion-text>
        </ion-button>
      
    </ion-item>
 
    <ion-item>
     
        <ion-button color="primary" (click)="onClick()" expand="full">
            <img id="imgapp" src="../../assets/icon/cat.png"   alt="" srcset="">
            <ion-text class="fuente" color="light">
                <h1>C</h1>
              </ion-text>
           
          </ion-button>
    </ion-item>
  
    <ion-item >
     
         <ion-button color="warning" (click)="onClick()" expand="full">
            <img id="imgapp" src="../../assets/icon/bird.png" alt="" srcset="">
            <ion-text class="fuente" color="light">
                <h1>B</h1>
              </ion-text>
           
          </ion-button>
    </ion-item>
  
    <ion-item >
      
        <ion-button color="secondary" (click)="onClick()" expand="full">
            <img id="imgapp" src="../../assets/icon/rabbit.png"   alt="" srcset="">
            <ion-text class="fuente" color="light">
                <h1>R</h1>
              </ion-text>
           
          </ion-button>
    </ion-item>

    <ion-item >
      
        <ion-button color="success" (click)="onClick()" expand="full">
            <img id="imgapp" src="../../assets/icon/monkey.png"   alt="" srcset="">
            <ion-text class="fuente" color="light">
                <h1>M</h1>
              </ion-text>
           
          </ion-button>
    </ion-item>
  </ion-content>
  <!-- </ion-card> -->


      <!-- </div> -->
