app-login {
    
}

$white-color: #fff;
$height100: 100%;

ion-grid {
    width:100%;
    height: $height100;
    background: #dfdfdf;
}

ion-card{

    background-color: rgba(3, 190, 190, 0.5);
    width: 85%;
    height: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#imgicon{
    width : 100px;
    height : 80px ;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
#imgapp{
    width: 85%;
    height: 150%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.inputs{
    width: 90%;
    height: 100px;
    margin: 10px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 10px;
    margin-bottom: 30px;  

}

.fonte{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


ion-card-subtitle{
    color: black;
}


ion-row {
    height: $height100;
}

ion-col {
    border: 1px solid black;
    background: $white-color;
}

ion-button {
    font-weight: 600;
}
ion-input{
    text-align: center;
}

@media (min-width: 240px) and (max-width: 768px) {
    ion-grid {
        background: $white-color;
    }
    ion-col {
        border: none;
    }
}

