<ion-header>
  <ion-toolbar>
<!--    
      <ion-text color="dark">
        <h1>Selecciona tu personaje</h1>
      </ion-text>  -->
      <img id="imgapp" src="../../assets/icon/marvel-logo.webp"   alt="" srcset="">
    <!-- <h1>Seleccione su personaje</h1> -->
  </ion-toolbar>
</ion-header>

<ion-content>
    <br>
    <br>
    <ion-item>
     
        <ion-button color="outline" (click)="animalB()" expand="full" >
            <img id="imgapp" src="../../assets/icon/ironman_icon.png"   alt="" srcset="">
            <ion-text class="fuente" color="light">
                <!-- <h1>Animals</h1> -->
              </ion-text>
        </ion-button>
      
    </ion-item>
 
    <ion-item>
    
        <ion-button color="outline" (click)="colorsB()" expand="full">
            <img id="imgapp" src="../../assets/icon/spiderman_icon.png"   alt="" srcset="">
            <ion-text class="fuente" color="light">
                <!-- <h1>Colors</h1> -->
              </ion-text>
           
          </ion-button>
    </ion-item>

    <ion-item>
     
     <ion-button color="outline" (click)="numbersB()" expand="full">
         <img id="imgapp" src="../../assets/icon/wolverine_icon.png"   alt="" srcset="">
         <ion-text class="fuente" color="light">
             <!-- <h1>Numbers</h1> -->
           </ion-text>
        
       </ion-button>
 </ion-item>

 <ion-item>
     
    <ion-button color="outline" (click)="numbersB()" expand="full">
        <img id="imgapp" src="../../assets/icon/thor_icon.png"   alt="" srcset="">
        <ion-text class="fuente" color="light">
            <!-- <h1>Numbers</h1> -->
          </ion-text>
       
      </ion-button>
</ion-item>

</ion-content>
