<ion-content class="margintop">

    <ion-item>
     
        <ion-button size="large" (click)="playVaca()" color="success" expand="full" >
            <img class="imgapp" src="../../assets/icon/cow.png">
            <ion-text>
                <h1>VACA</h1>
              </ion-text>
        </ion-button>
      
    </ion-item>
  
    <ion-item>
     
        <ion-button size="large" color="medium" expand="full">
            <img class="imgapp" src="../../assets/icon/donkey.png"  >
            <ion-text>
                <h1>BURRO</h1>
              </ion-text>
           
          </ion-button>
    </ion-item>
  
    <ion-item >
     
         <ion-button size="large" color="dark"  expand="full">
            <img class="imgapp" src="../../assets/icon/duck.png">
            <ion-text>
                <h1>PATO</h1>
              </ion-text>
           
          </ion-button>
    </ion-item>
  
    <ion-item >
      
        <ion-button size="large" color="secondary" expand="full">
            <img class="imgapp" src="../../assets/icon/elephant.png"  >
            <ion-text>
                <h1>ELEFANTE</h1>
              </ion-text>
           
          </ion-button>
    </ion-item>
  
    <ion-item >
      
        <ion-button size="large" color="tertiary" expand="full">
            <img class="imgapp" src="../../assets/icon/lion.png"  >
            <ion-text>
                <h1>LEON</h1>
              </ion-text>
           
          </ion-button>
    </ion-item>
  </ion-content>
  