<div id="custom-overlay" [style.display]=" splash ? 'block' : 'none' ">
    

    <!-- <div class="container"> -->
        <!-- <div class="scroller contenedorPresentacion">
        <div class="inner">
       
        <span>JULIAN GRAZIANO</span>
        <span>DIVISIÓN 4A</span>
        <span>RELEVAMIENTO VISUAL</span>

        </div>
        </div> -->
        <!-- </div> -->
        <div class="contenedorPresentacion">

        <div><p>RELEVAMIENTO VISUAL 
          <br>
                PPS 19 UTN <br>
                JULIAN GRAZIANO <br>
                DIVISION 4A
        </p></div>

      </div>
        <div class="logoPresentacion">
            <img id="imgScreen"  src="../../assets/icon/icon.png">	
            
          </div> 


   
<!-- 
  	 <div class="contenedorPresentacion logoPresentacion">
     
        <div class="fuente"><p> RELEVAMIENTO VISUAL </p></div>
        <div class="fuente"><p> JULIAN GRAZIANO </p></div><br>
        <div class="fuente"><p>UTN PPS 2019 </p></div>
        <div class="fuente"><p>DIVISIÓN 4A </p></div>
    </div>
 
	<div class="logoPresentacion">
    <img id="imgScreen"  src="../../assets/icon/icon.png">	
    
	</div> 
	 -->
</div> 

<!-- <ion-content> -->
<ion-content [style.display]=" splash ? 'none' : 'block'">


        <ion-grid>
          <ion-row justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div text-center>

                   <!-- <img id="imgapp" src="https://image.freepik.com/vector-gratis/dibujos-animados-edificio-estado-real_24640-38977.jpg"   alt="" srcset=""> -->

                <ion-card>
                  <ion-card-header>
                    <ion-card-subtitle>Relevamiento Visual</ion-card-subtitle>
                    <ion-card-title>Bienvenido</ion-card-title>
                  </ion-card-header>

                  <ion-card-content>

                      <!-- <img id="imgicon" src="../../assets/icon/icon.png"> -->
                      <img id="imgapp" src="../../assets/icon/edificio.png"   alt="" srcset="">

                      <ion-button expand="full" color="dark" (click)="creoSheet()">
                      Acceder como...
                      </ion-button>

                  </ion-card-content>
                </ion-card>


                <div class="inputs">
                  <ion-item >
                      <ion-label position="fixed">Usuario:</ion-label>
                    <ion-input id="user" class="fonte" type="email" [(ngModel)]="username" placeholder="email"></ion-input>
                  </ion-item>
    
                  <ion-item >
                      <ion-label position="fixed">Contraseña:</ion-label>
                    <ion-input id="pass" class="fonte" type="password" [(ngModel)]="password" placeholder="*****"></ion-input>
                  </ion-item>

                  </div>
                  <ion-button size="large" class="fonte" color="dark" (click)="login()" routerDirection="root"  expand="block">INGRESAR</ion-button>
    
              </div>


              
            </ion-col>
          </ion-row>
        </ion-grid>


      <!-- </ion-list> -->






</ion-content>
