    <div id="custom-overlay" [style.display]=" splash ? 'block' : 'none' ">
        <div class="logoPresentacion">
          <img  src="../../assets/icon/favicon2.png">	
        </div>
          <div class="contenedorPresentacion">
          <div> LEANDRO POLLOLA </div><br>
          <div> PRACTICA PROFESIONAL</div>
          <div> SUPERVISADA 4A</div>
        </div>
      </div>

<div  [style.display]=" splash ? 'none' : 'block' ">

<head>
  <title *ngIf="!spinner" >LOGIN</title>
  <ion-spinner *ngIf="spinner" class="color-green" name="lines"></ion-spinner>
</head>
<body class="align">

  <div class="grid align__item">
   
	
    <div class="register">

      <!-- <svg xmlns="http://www.w3.org/2000/svg" class="site__logo" width="56" height="84" viewBox="77.7 214.9 274.7 412"><defs><linearGradient id="a" x1="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#8ceabb"/><stop offset="100%" stop-color="#378f7b"/></linearGradient></defs><path fill="url(#a)" d="M215 214.9c-83.6 123.5-137.3 200.8-137.3 275.9 0 75.2 61.4 136.1 137.3 136.1s137.3-60.9 137.3-136.1c0-75.1-53.7-152.4-137.3-275.9z"/></svg> -->
	  <img *ngIf="!spinner"  src="https://www.veracode.com/sites/default/files/security-professionals.png"  width="200px" height="200px" alt="" srcset="">
      
      <ion-spinner *ngIf="spinner" class="color-green" name="lines"></ion-spinner>
      <h2 *ngIf="!spinner">LOGIN</h2>

      <form *ngIf="!spinner"  action=""  class="form">

        <div class="form__field">
          <input type="email" name="email" [(ngModel)]="email" placeholder="prueba@gmail.com">
        </div>

        <div class="form__field">
          <input type="password" name="password" [(ngModel)]="password" placeholder="••••••••••••">
        </div>

        <div class="form__field">
      <input type="submit"  (click)="login()" value="INGRESAR">
      <input type="submit"  (click)="creoSheet()" value="Acc.Rápido">
		  <!-- <ion-button expand="block" (click)="login()"><strong>INGRESAR</strong></ion-button> -->
        </div>

      </form>

    
    </div>

  </div>

</body>
<!-- </html>
 -->
 </div>
