<ion-content >

  <ion-item >
    <ion-card (click)="animalB()" class="botonAnimal" expand="full" >
        <ion-text class="alineado">
            <h1>ANIMALES</h1>
        </ion-text>
    </ion-card>
  </ion-item>

  <ion-item >
        <ion-card (click)="colorsB()" class="botonColores"  expand="full" >
            <ion-text class="alineado">
                <h1>COLORES</h1>
            </ion-text>
        </ion-card>
      </ion-item>

    

    <ion-item >
        <ion-card  (click)="numbersB()"  class="botonNumeros"  expand="full" >
            <ion-text class="alineado">
                <h1>NUMEROS</h1>
            </ion-text>
        </ion-card>
    </ion-item>

</ion-content>
