<ion-content>
  
  
      <ion-chip>
        <div id="tablero">
        <ion-label> Su saldo: </ion-label><br>
        <ion-label class="saldoPantalla"  name="saldoPantalla">$ 0.00</ion-label>
      </div>
      </ion-chip>

      <br><br><br><br>
    
             
          <ion-toolbar>
          <!-- <ion-button slot="start" shape="round" (click)="onClick()" > -->
              <ion-fab-button color="primary">
              <!-- Escanear codigo QR -->
            <ion-icon name="add-circle"></ion-icon>
          </ion-fab-button>
             <!-- </ion-button> -->
             <ion-fab-button color="warning" slot="end"  >
                <!-- Limpiar creditos -->
             <ion-icon name="trash"></ion-icon>

            </ion-fab-button>
          </ion-toolbar>
            <!-- </div> -->




</ion-content>