<ion-header>
  <br>
</ion-header>

<ion-content>

  
  <ion-list>
    <!-- Cabecera -->
    <ion-segment>
      <ion-segment-button>
        <ion-row>
          <ion-col>
            <ion-icon class="fuente-icono" name="information-circle-outline"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-label class="fuente-titulo">SALDOS</ion-label>
          </ion-col>
        </ion-row>
      </ion-segment-button>
    </ion-segment>

    <!-- LISTADO DE CUENTAS -->
    <ion-item class="margen-item">
      <ion-badge color="dark" class="fuente-titulo" slot="start"><ion-icon name="barcode"></ion-icon></ion-badge>
        <ion-label text-wrap>CUENTA QR-10</ion-label>
      <ion-badge text-wrap color="success" slot="end"> ${{cargaDiez}}</ion-badge>
    </ion-item>

    <ion-item class="margen-item">
        <ion-badge color="medium" class="fuente-titulo" slot="start"><ion-icon name="git-compare"></ion-icon></ion-badge>
          <ion-label text-wrap>CUENTA QR-50</ion-label>
        <ion-badge text-wrap color="success" slot="end"> ${{cargaCincuenta}}</ion-badge>
      </ion-item>

    <ion-item class="margen-item">
        <ion-badge color="secondary" class="fuente-titulo" slot="start"><ion-icon name="card"></ion-icon></ion-badge>
          <ion-label text-wrap>CUENTA QR-100</ion-label>
        <ion-badge text-wrap color="success" slot="end"> ${{cargaCien}}</ion-badge>
      </ion-item>

  </ion-list>
  <br><br>
    <ion-item>
      <ion-label  class="total">TOTAL: </ion-label>
      <ion-note  class="total" slot="end"> {{saldoPantalla}}</ion-note>
    </ion-item>
</ion-content>

<ion-footer>

  <ion-toolbar>

    <ion-fab-button color="primary" (click)="escaneoQR()">
      <ion-icon name="qr-scanner"></ion-icon>
    </ion-fab-button>   
  
    <ion-fab-button color="danger" slot="end" (click)="borroQR()"  >
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>

  </ion-toolbar>
</ion-footer>

