.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.fuente-icono 
{
  font-size: xx-large;
  color: whitesmoke;
}

.fuente-titulo
{
  font-size: x-large;
  color: whitesmoke;
}

.margen-item
{
  margin: 1.5%;
}

.total 
{
  font-size: larger;
  font-weight: bolder;
  color: cornflowerblue;
}

ion-segment
{
  background-color: #3880ff;
}
