<ion-header>
    <ion-toolbar color="medium">
      <ion-title>Estadisticas</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  
  
  <ion-content padding>
  
      <ion-card color = "medium" class="fuente" >
          <ion-card-header>
            Ranking cosas lindas
          </ion-card-header>
          <ion-card-content>
            <canvas #canvasLindas></canvas>
          </ion-card-content>
        </ion-card>
        <ion-card color = "medium" class="fuente">
          <ion-card-header>
              Ranking cosas feas          
          </ion-card-header>
          <ion-card-content>
            <canvas #canvasFeas></canvas>
          </ion-card-content>
        </ion-card>
       
  
  </ion-content>