
  <ion-header>

  

    <ion-toolbar>
     
          <ion-select multiple="false" slot="start" cancelText="Cancelar" okText="Ok">
              <ion-select-option  value="ES" selected>ES</ion-select-option>
              <ion-select-option  value="US" >US</ion-select-option>
          </ion-select>
<!--         
          <ion-button color="secondary" class="io" slot="end" routerDirection="root">
            <ion-icon name="home"></ion-icon>
          </ion-button> -->

    </ion-toolbar>
  </ion-header>

<ion-content class="margintop">

    <ion-item>
     
        <ion-button size="large" color="danger" expand="full" >
            <img class="imgapp" src="../../assets/icon/rojo.png">
            <ion-text>
                <h1>ROJO</h1>
              </ion-text>
        </ion-button>
      
    </ion-item>
  
    <ion-item>
     
        <ion-button size="large" color="success" expand="full">
            <img class="imgapp" src="../../assets/icon/verde.png"  >
            <ion-text>
                <h1>VERDE</h1>
              </ion-text>
           
          </ion-button>
    </ion-item>
  
    <ion-item >
     
         <ion-button size="large" color="warning"  expand="full">
            <img class="imgapp" src="../../assets/icon/amarillo.png">
            <ion-text>
                <h1>AMARILLO</h1>
              </ion-text>
           
          </ion-button>
    </ion-item>
  
    <ion-item >
      
        <ion-button size="large" color="secondary" expand="full">
            <img class="imgapp" src="../../assets/icon/celeste.png"  >
            <ion-text>
                <h1>CELESTE</h1>
              </ion-text>
           
          </ion-button>
    </ion-item>
  
    <ion-item >
      
        <ion-button size="large" color="tertiary" expand="full">
            <img class="imgapp" src="../../assets/icon/violeta.png"  >
            <ion-text>
                <h1>VIOLETA</h1>
              </ion-text>
           
          </ion-button>
    </ion-item>
  </ion-content>
  