
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="primary">
          <ion-thumbnail slot="start">
            <img *ngIf="idiomaSeleccionado == 'ES'" src="../../assets/icon/es.svg">
            <img *ngIf="idiomaSeleccionado == 'US'" src="../../assets/icon/gb.svg">
          </ion-thumbnail>
      </ion-buttons>

          <ion-select multiple="false" [(ngModel)]="idiomaSeleccionado" slot="start" cancelText="Cancelar" okText="Ok">
              <ion-select-option  value="ES" selected>ESPAÑOL</ion-select-option>
              <ion-select-option  value="US" >INGLES</ion-select-option>
          </ion-select>
    </ion-toolbar>
  </ion-header>

<ion-content class="margintop">

    <ion-item>
     
        <ion-button (click)="playRojo()" size="large" color="danger" expand="full" >
            <img class="imgapp" src="../../assets/icon/rojo.png">
            <ion-text>
                <h1>ROJO</h1>
              </ion-text>
        </ion-button>
      
    </ion-item>
  
    <ion-item>
     
        <ion-button  (click)="playVerde()" size="large" color="success" expand="full">
            <img class="imgapp" src="../../assets/icon/verde.png"  >
            <ion-text>
                <h1>VERDE</h1>
              </ion-text>
           
          </ion-button>
    </ion-item>
  
    <ion-item >
     
         <ion-button  (click)="playAmarillo()" size="large" color="warning"  expand="full">
            <img class="imgapp" src="../../assets/icon/amarillo.png">
            <ion-text>
                <h1>AMARILLO</h1>
              </ion-text>
           
          </ion-button>
    </ion-item>
  
    <ion-item >
      
        <ion-button  (click)="playCeleste()" size="large" color="secondary" expand="full">
            <img class="imgapp" src="../../assets/icon/celeste.png"  >
            <ion-text>
                <h1>CELESTE</h1>
              </ion-text>
           
          </ion-button>
    </ion-item>
  
    <ion-item >
      
        <ion-button  (click)="playVioleta()" size="large" color="tertiary" expand="full">
            <img class="imgapp" src="../../assets/icon/violeta.png"  >
            <ion-text>
                <h1>VIOLETA</h1>
              </ion-text>
           
          </ion-button>
    </ion-item>
  </ion-content>
  