
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="primary">
          <ion-thumbnail slot="start">
            <img *ngIf="idiomaSeleccionado == 'ES'" src="../../assets/icon/es.svg">
            <img *ngIf="idiomaSeleccionado == 'US'" src="../../assets/icon/gb.svg">
          </ion-thumbnail>
      </ion-buttons>

          <ion-select multiple="false" [(ngModel)]="idiomaSeleccionado" slot="start" cancelText="Cancelar" okText="Ok">
              <ion-select-option  value="ES" selected>ESPAÑOL</ion-select-option>
              <ion-select-option  value="US" >INGLES</ion-select-option>
          </ion-select>
    </ion-toolbar>
  </ion-header>


  <ion-content no-padding no-margin>
    <ion-grid no-padding no-margin>
    
  
      <ion-row no-padding no-margin >
        <ion-col no-padding no-margin>
          <ion-button size="large" (click)="playRojo()" color="danger" expand="full"  no-margin responsive-lg >
            <!-- <img class="imgapp" src="../../assets/icon/cow.png"> -->
            <img class="listaAnimales"  no-margin no-padding src="../../assets/icon/rojo.png">
            <ion-text>
                <h1>ROJO</h1>
              </ion-text>
        </ion-button>
        </ion-col>
      </ion-row>


      <ion-row no-padding no-margin >
        <ion-col no-padding no-margin>
      <ion-button size="large" (click)="playVerde()" color="success" expand="full"  no-margin responsive-lg>
        <!-- <img class="imgapp" src="../../assets/icon/donkey.png"  > -->
        <img class="listaAnimales"  no-margin no-padding src="../../assets/icon/verde.png">
        <ion-text>
            <h1>VERDE</h1>
          </ion-text>
      </ion-button>
    </ion-col>
  </ion-row>


      <ion-row no-padding no-margin >
        <ion-col no-padding no-margin>
          <ion-button size="large" (click)="playAmarillo()" color="warning"  expand="full"  no-margin responsive-lg>
            <!-- <img class="imgapp" src="../../assets/icon/duck.png"> -->
        <img class="listaAnimales" no-margin no-padding src="../../assets/icon/amarillo.png">
            <ion-text>
              <h1>AMARILLO</h1>
            </ion-text>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row no-padding no-margin >
        <ion-col no-padding no-margin>
    <ion-button size="large" (click)="playCeleste()" color="secondary" expand="full"  no-margin responsive-lg>
        <!-- <img class="imgapp" src="../../assets/icon/elephant.png"  > -->
        <img class="listaAnimales"  no-margin no-padding src="../../assets/icon/celeste.png">
        <ion-text>
            <h1>CELESTE</h1>
          </ion-text>
      </ion-button>
    </ion-col>
  </ion-row>


      <ion-row no-padding no-margin >
        <ion-col no-padding no-margin>
    <ion-button size="large" (click)="playVioleta()" color="tertiary" expand="full"  no-margin responsive-lg>
        <!-- <img class="imgapp" src="../../assets/icon/lion.png"  > -->
        <img class="listaAnimales"  no-margin no-padding src="../../assets/icon/violeta.png">
        <ion-text>
            <h1>VIOLETA</h1>
          </ion-text>
      </ion-button>
    </ion-col>
  </ion-row>


    </ion-grid>
  </ion-content>





  