<ion-header>
  <ion-toolbar>
    <!-- <ion-title style=" text-align: center"> -->
    <ion-title slot="start">
    Tomar foto   
    </ion-title>
    <!-- <ion-button  color="danger" class="io" slot="end" (click)="logoff()" routerDirection="root"> -->
        <!-- style="width: 43px;height:40px; border-radius: 60%" -->
      <!-- <ion-icon name="power"></ion-icon>
    </ion-button> -->
  
  </ion-toolbar>
</ion-header>

<ion-content>
   
      <ion-grid>
        <ion-row>
          <ion-col col-6>
         <ion-button color="success" (click)="greenB()" expand="full">
            <img src="../../assets/icon/ok.png" alt="">
           
         </ion-button>
          </ion-col>
          <ion-col col-6>
            <ion-button color="danger" (click)="redB()" expand="full">
            <img src="../../assets/icon/not.png" alt="">
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>



</ion-content>
