<div id="custom-overlay" [style.display]=" splash ? 'block' : 'none' ">
	<!-- <div id="contenedorPresentacion"> -->
		<img class="spinner" src="../../assets/icon/favicon.png">

		<!-- <div> Leandro Pollola </div>
		<div> PPS </div>
		<div> Division 4A</div> -->
	<!-- </div> -->
</div>


<div class="form-structor">
	<div class="signup">
		<h2 class="form-title" id="signup"><span>or</span>LOGIN</h2>
		<div class="form-holder">
			<!-- <input type="text" class="input" placeholder="Name" /> -->
			<input type="email" class="input" [(ngModel)]="email"  placeholder="Email" />
			<input type="password" class="input" [(ngModel)]="password" placeholder="Password" />
		</div>
		<button class="submit-btn" (click)="login()">ENTRAR</button>
		<button expand="block" class="submit-btn-acceso" fill="outline"  (click)="creoSheet()">Acc.Rápido</button>
	</div>
</div>