<div id="custom-overlay" [style.display]=" splash ? 'block' : 'none' ">
	<div class="logoPresentacion">
		<img  src="../../assets/icon/favicon2.png">	
	</div>
		<div class="contenedorPresentacion">
		<div> LEANDRO POLLOLA </div><br>
		<div> PRACTICA PROFESIONAL</div>
		<div> SUPERVISADA 4A</div>
	</div>
</div>


<div class="form-structor" [style.display]=" splash ? 'none' : 'block' ">
	<div class="signup">

			<ion-spinner *ngIf="spinner" class="form-title" id="signup"  style="color:white; font-size: 30px;" name="dots"></ion-spinner>
			<ion-spinner *ngIf="spinner" class="form-title" id="signup"  style="color:white; font-size: 30px;" name="dots"></ion-spinner>
			<ion-spinner *ngIf="spinner" class="form-title" id="signup"  style="color:white; font-size: 30px;" name="dots"></ion-spinner>
			<ion-spinner *ngIf="spinner" class="form-title" id="signup"  style="color:white; font-size: 30px;" name="dots"></ion-spinner>
			<ion-spinner *ngIf="spinner" class="form-title" id="signup"  style="color:white; font-size: 30px;" name="dots"></ion-spinner>
			<ion-spinner *ngIf="spinner" class="form-title" id="signup"  style="color:white; font-size: 30px;" name="dots"></ion-spinner>
	
		<h2 *ngIf="!spinner" class="form-title" id="signup"><span>or</span>LOGIN</h2>
		<div *ngIf="!spinner" class="form-holder">
			<!-- <input type="text" class="input" placeholder="Name" /> -->
			<input type="email" class="input" [(ngModel)]="email"  placeholder="Email" />
			<input type="password" class="input" [(ngModel)]="password" placeholder="Password" />
		</div>
		<button  *ngIf="!spinner" class="submit-btn" (click)="login()">ENTRAR</button>
		<button  *ngIf="!spinner" expand="block" class="submit-btn-acceso" fill="outline"  (click)="creoSheet()">Acc.Rápido</button>
	</div>
</div>