<ion-header>
  <ion-toolbar>
    <!-- <ion-title style=" text-align: center"> -->
    <ion-title slot="start">
    Carga Credito    
    </ion-title>
    <ion-button color="danger" slot="end" (click)="logoff()" routerDirection="root" style="width: 63px;height:60px">
      LogOUT
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
      
  
      <!-- <ion-card id="tab2card">
          <ion-card-header>
            <ion-card-subtitle>Relevamiento Visual</ion-card-subtitle>
            <ion-card-title>Bienvenido</ion-card-title>
          </ion-card-header>
          Sistema de relevamiento visual de edificios.
          <ion-card-content>
          </ion-card-content>
        </ion-card> -->
  
  
  
  
  
  </ion-content>
  