.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

// .hydrated{
//   background-image: url('');
//   background-color: transparent;
// }


ion-content{
  --background: #3A435E;


}

.io{

  width: 43px;
  height:40px; 
  border-radius: 50%;
}

ion-chip{
  height: 35%;
  width: 98%;
    /* webkit example */
    --background: -webkit-gradient(
      linear, left top, left bottom, from(rgba(50,50,50,0.8)),
      to(rgba(80,80,80,0.2)), color-stop(.5,#333333)
    );
  border-left: 6%;
  color: white;
  // $chip-icon-font-size:	50px;
  text-align: center;
  margin-top: 15%;
  text-align: center;
  font-size: 30px;

 

}
.saldoPantalla{
  // margin-left: 1%;
 font-size: 273%;
 text-align: center;
 width: 100%;
}

#tablero{
  margin-left: 23%;
}

ion-toolbar{

  padding-top: 65%;
  --background: transparent;
  // height: 50%;
}

// ion-fab-button{
//   width: 25%;
//   height: 20%;
// }
