.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.lindas 
{
    background-image:url("../../assets/icon/yes.png") !important;
    background-repeat:no-repeat;
    background-size:cover;
    overflow:hidden;
    // opacity: 0.6;
}

.feas 
{

    background-image:url("../../assets/icon/not.png") !important;
    background-repeat:no-repeat;
    background-size:cover;
    overflow:hidden;
    // opacity: 0.6;

}


img
{
    max-height: 50%;
    max-width: 50%;
    padding: inherit;
    margin-left: 20%;
    border-radius: 15px 50px 30px;
}

ion-grid, ion-row, ion-col{
  height: 100%;
  margin-top: 2px;
}
ion-card{
  height: 40%;
}
