<div id="custom-overlay" [style.display]=" splash ? 'block' : 'none' ">
	<div class="logoPresentacion">
		<img  src="../../assets/icon/favicon2.png">	
	</div>
		<div class="contenedorPresentacion">
		<div> LEANDRO POLLOLA </div><br>
		<div> PRACTICA PROFESIONAL</div>
		<div> SUPERVISADA 4A</div>
	</div>
</div>


<div [style.display]=" splash ? 'none' : 'contents' ">

<ion-content no-padding>
	<div class="main">
	  <ion-card no-margin class="card">
		
		<ion-card-content>
			<ion-row class="row">
			  
				  <ion-card>
						<ion-card-header>
							<ion-spinner *ngIf="spinner" class="color-green" name="lines"></ion-spinner>
	

							<div *ngIf="!spinner" class="fire-logo">
							<img src="../../assets/imgs/login.png" class="img-logo">
						  </div>
						
						</ion-card-header>
						
									 <ion-card-content>
						</ion-card-content>
					  </ion-card>
				  
				  
				
			</ion-row>
			<div *ngIf="!spinner"> 
				<ion-row >
				<ion-col>
				  <ion-input clearInput type="email" placeholder="Email" [(ngModel)]="cuenta.usuario" class="input" padding-horizontal clear-input="true"></ion-input>
				</ion-col>
			  </ion-row>
			  <ion-row>
				<ion-col>
				  <ion-input clearInput type="password" placeholder="Password" [(ngModel)]="cuenta.password" class="input" padding-horizontal clear-input="true"></ion-input>
				</ion-col>
			  </ion-row>
			  <ion-row>
				<ion-col>
				  <!-- <ion-button expand="block" (click)="login()" routerDirection="root"   class="btn-transition"><strong class="white">Ingresar</strong></ion-button> -->
				</ion-col>
			  </ion-row>
			  <div class="line"></div>
			  <ion-row>
				<ion-col>
				  <ion-button expand="block" (click)="login()" fill="outline" color="undefined" class="btn-color"><strong>INGRESAR</strong></ion-button>
				</ion-col>
				<ion-col>
				<ion-button expand="block" color="black" fill="outline"  (click)="creoSheet()">
				Acceder como...
				</ion-button>
			  </ion-col>
				</ion-row>
			</div>
		</ion-card-content>
	  </ion-card>
	</div>


  </ion-content>
</div>