<ion-content>
  <!-- <ion-button class="menu-button" routerLink="/" color="danger">
    Close
  </ion-button> -->
  <div id="space-invaders">
  <div class="buttons phone-only">
    
    
    <ion-button *ngIf= "!estadoTexto" (touchstart)="arribaStart()" >Arriba</ion-button>
    <ion-button *ngIf= "!estadoTexto"(touchstart)="abajoStart()" >Abajo</ion-button>

    <ion-button *ngIf= "!estadoTexto" (touchstart)="leftStart()" >Left</ion-button>
    <ion-button *ngIf= "!estadoTexto" (touchstart)="rightStart()" >Right</ion-button>

    <ion-button *ngIf= "estadoTexto" color="success" (touchstart)="create()" >Nuevo Juego</ion-button>

  </div>

</div>
</ion-content>