.label{
    font-family: 'Bubblegum Sans', cursive;
}

ion-img{  
      
    height: 25vh !important;
    width: auto !important;
    margin: auto !important;
    display: block !important;
    padding-bottom: 10px;
}

// #imgFooter{
//     height: 5vh !important;
//     width: auto !important;
//     //margin-right: 1% !important;
//     position:absolute;
//     margin-left: 10px !important;
//     margin-bottom: 10px !important;
// }

#titleFooter{
    font-size: 70%;
}
