<ion-header>
  <ion-toolbar>
    <ion-button color="dark">
      <ion-icon name="cloud-upload"></ion-icon>
    </ion-button>
    <ion-title>Subir Fotos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <!-- <ion-grid> -->
    <!-- <ion-row> -->
      <ion-col col-12 col-md-6 col-lg-4 col-xl-3>
        <ion-card   class="lindas" expand="full">
          <ion-card-header color="success" ><b>EDIFCIO - OK</b></ion-card-header>
          <ion-card-content style="color: white; font-weight: bolder; font-size: xx-large;opacity: 0.6;">COSAS LINDAS</ion-card-content>
        </ion-card>

        <ion-card class="feas" expand="full">
          <ion-card-header color="danger"><b>EDIFICIO - NOK</b></ion-card-header>
          <ion-card-content  style="color: white; font-weight: bolder; font-size: xx-large;opacity: 0.6;">COSAS FEAS</ion-card-content>
        </ion-card>

      </ion-col>
    <!-- </ion-row> -->
  <!-- </ion-grid> -->
</ion-content>