<ion-header>
  <ion-toolbar>
   
    <ion-title>
        <ion-button color="light">
            <ion-icon name="cloud-upload"></ion-icon>
          </ion-button>
          Subir Fotos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
      <ion-col col-12 col-md-6 col-lg-4 col-xl-3>
        <ion-card (click)="sacarFoto()" class="lindas" expand="full">
          <ion-card-header color="success" ><b></b></ion-card-header>
          <ion-card-content style="color: white; font-weight: bolder; font-size: xx-large;    text-shadow: 1px 0 0 darkgray, -1px 0 0 darkgray, 0 1px 0 darkgray, 0 -1px 0 darkgray, 1px 1px darkgray, -1px -1px 0 darkgray, 1px -1px 0 darkgray, -1px 1px 0 darkgray;
          ">
            COSAS LINDAS
          </ion-card-content>
        </ion-card>

        <ion-card class="feas" expand="full">
          <ion-card-header color="danger"><b></b></ion-card-header>
          <ion-card-content  style="color: white; font-weight: bolder; font-size: xx-large;    text-shadow: 1px 0 0 darkgray, -1px 0 0 darkgray, 0 1px 0 darkgray, 0 -1px 0 darkgray, 1px 1px darkgray, -1px -1px 0 darkgray, 1px -1px 0 darkgray, -1px 1px 0 darkgray;
          ">COSAS FEAS</ion-card-content>
        </ion-card>

        <img [src]="image" *ngIf="image" />
        <p>{{image}}</p>
      </ion-col>
</ion-content>