<ion-content no-padding>
  <ion-grid no-padding>
    <ion-row>
      <ion-col>
        <ion-button size="large" expand="full" no-margin responsive-lg>Colores</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button size="large" expand="full" no-margin responsive-lg>Numeros</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button size="large" expand="full" no-margin responsive-lg>Animales</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button size="large" expand="full" no-margin responsive-lg>Idioma</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

  <!-- <ion-button size="large" expand="full" no-margin responsive-lg>Colores</ion-button>
  <ion-button size="large" expand="full" no-margin responsive-lg>Numeros</ion-button>
  <ion-button size="large" expand="full" no-margin responsive-lg>Animales</ion-button>
  <ion-button size="large" expand="full" no-margin responsive-lg>Idioma</ion-button> -->
  
</ion-content>
